* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../image/dark-triangles.png");
  /*This pattern is downloaded from www.subtlepatterns.com. If you need more, that's where to get'em.*/
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
}

.mainHeader__plain {
  font-family: 'Lobster', cursive;
  font-size: 45px;
  text-align: center;
  margin: 15px;
}

.mainHeader__color {
  color: #ff9100;
}

.canvas {
  width: 1000px;
  height: 556px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
}

.bottomMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  height: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #505050;
  text-align: center;
  border: 3px solid white;
}

.bottomMenu__score {
  height: 100%;
  width: 207px;
  border-right: 3px solid white;
}

.bottomMenu__settings {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.score__info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 6px;
}

.menuHeader {
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  background-color: #353535;
  line-height: 330%;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}

.resetButton {
  height: 38px;
  background-color: #252525;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 38px;
  border-top: 1px solid white;
}

.resetButton:hover {
  background-color: #9C0202;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #fff;
}

.settings__area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
}

.chooseButton {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 34px;
  line-height: 34px;
  text-transform: uppercase;
  background-color: #909090;
  border-right: 1px solid #fff;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.chooseButton:nth-last-child(1) {
  border-right: none;
}

.chooseButton:hover {
  background-color: #777777;
}

.chooseButton--active {
  background-color: #ff9100;
}

.chooseButton--active:hover {
  background-color: #ff9100;
}

.settingsContent {
  display: none;
  height: 100%;
}

.settingsContent--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settingsContent__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 4px 0 0 4px;
}

.settingsContent__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 4px 0 0 4px;
}

.settingsContent__right--deactive {
  display: none;
}

.applyButton {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .2s;
  transition: .2s;
  background-color: #ff9100;
  border-left: 1px solid white;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: auto;
}

.applyButton__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.applyButton--hidden {
  opacity: 0;
  cursor: default;
}

.applyButton:hover {
  background-color: #cc7400;
}

.mainFooter {
  margin-top: 10px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */