body
{
	background-image: url('image/dark-triangles.png'); /*This pattern is downloaded from www.subtlepatterns.com. If you need more, that's where to get'em.*/
	color: #fff;
	font-family: sans-serif;
}