.chooseButton
{
    flex-basis: 25%;
    height: 34px;
    line-height: 34px;
    text-transform: uppercase;
    background-color: $button-gray-color;
    border-right: 1px solid #fff;
    cursor: pointer;
    transition: .2s;

    &:nth-last-child(1)
    {
        border-right: none;
    }

    &:hover
    {
        background-color: darken($button-gray-color, 10%)
    }

    &--active
    {
        background-color: $orange-color;

        &:hover
        {
            background-color: $orange-color;
        }
    }
}