.mainHeader
{
    &__plain
    {
        font-family: 'Lobster', cursive;
        font-size: 45px;
        text-align: center;
        margin: 15px;
    }

    &__color
    {
        color: orange;
    }
}