.settingsContent
{
    display: none;
    height: 100%;

    &--active
    {
        display: flex;
    }

    &__left
    {
        flex-grow: 1;
        padding: 4px 0 0 4px;
    }

    &__right
    {
        flex-basis: 42%;
        padding: 4px 0 0 4px;

        &--deactive
        {
            display: none;
        }
    }

    &__numInp
    {
        width: 70px;
    }

    &__buttonSpace
    {
        flex-basis: 16%;
    }
}